<app-navbar></app-navbar>
<div style="background-color:white;">
  <div *ngIf="auth.user$ | async as user; else login">
    <app-vrienden *ngIf="vriendenIsActive"></app-vrienden>
    <!-- <button class="button" (click)="auth.signOut()">Sign Out</button> -->
    <uploader *ngIf="myDropZoneIsActive"></uploader>
    <app-viewer *ngIf="myDropZoneIsActive"></app-viewer>
  </div>

  <ng-template #login>
    <h3>Gelieve in te loggen!</h3>
  </ng-template>

  <!-- <ng-template #login>
    <button class="button" (click)="auth.googleSignin()">Log in met google</button>
</ng-template> -->

  <router-outlet></router-outlet>
</div>