<app-navbar></app-navbar>
<div style="background-color:white;">
  <div *ngIf="auth.user$ | async as user; else login">
    <app-memo-page *ngIf="memoIsActive"></app-memo-page>
    <app-time-line-page *ngIf="timeLineIsActive"></app-time-line-page>
    <app-drop-zone-page *ngIf="dropZoneIsActive"></app-drop-zone-page>
  </div>

  <ng-template #login>
    <h3>Gelieve in te loggen!</h3>
  </ng-template>

  <!-- <ng-template #login>
    <button class="button" (click)="auth.googleSignin()">Log in met google</button>
</ng-template> -->

  <router-outlet></router-outlet>
</div>