<app-navbar></app-navbar>
<div style="background-color:white;">
  <div *ngIf="auth.user$ | async as user; else login">
    <!-- <button class="button" (click)="auth.signOut()">Sign Out</button> -->
    <uploader></uploader>
    <app-viewer></app-viewer>
  </div>

  <ng-template #login>
    <h3>Gelieve in te loggen!</h3>
  </ng-template>

  <!-- <ng-template #login>
    <button class="button" (click)="auth.googleSignin()">Log in met google</button>
</ng-template> -->

  <router-outlet></router-outlet>
</div>